:root {
    --animation-duration: 1s;
}

@keyframes baseAnimation {
    from {
        opacity: 0;
        transform: translateY(0);
    }
}

.fadeIn, .fadeInUp, .fadeInLeft, .fadeInRight, .bounceIn, .slideInUp, .slideInDown, .slideInLeft, .slideInRight, .bounce, .zoomIn, .rotateIn {
    animation: baseAnimation var(--animation-duration) ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fadeIn, .fadeInUp, .fadeInLeft, .fadeInRight, .bounceIn, .slideInUp, .slideInDown, .slideInLeft, .slideInRight, .bounce, .zoomIn, .rotateIn {
        animation: none;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.fadeInUp {
    animation-name: fadeInUp;
}

.fadeInLeft {
    animation-name: fadeInLeft;
}

.fadeInRight {
    animation-name: fadeInRight;
}

.bounceIn {
    animation-name: bounceIn;
}

.slideInUp {
    animation-name: slideInUp;
}

.slideInDown {
    animation-name: slideInDown;
}

.slideInLeft {
    animation-name: slideInLeft;
}

.slideInRight {
    animation-name: slideInRight;
}

.bounce {
    animation-name: bounce;
}

.zoomIn {
    animation-name: zoomIn;
}

.rotateIn {
    animation-name: rotateIn;
}

.fadeIn, .fadeInUp, .fadeInLeft, .fadeInRight, .bounceIn, .slideInUp, .slideInDown, .slideInLeft, .slideInRight, .bounce, .zoomIn, .rotateIn {
    will-change: opacity, transform;
}
