/* About Section Styles */

.about {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    padding: var(--padding-xlarge);
    width: 100%;
    max-width: 1200px; /* Limits the width for readability */
    margin: 0 auto; /* Centers the section */
}

.about-header {
    font-size: var(--text-massive);
    font-family: var(--font-secondary);
    text-align: center;
    margin-bottom: var(--margin-large);
    color: var(--about-header-text-color);
}

.about-bio {
    font-size: var(--text-medium);
    font-family: var(--font-primary);
    line-height: var(--line-height-medium);
    color: var(--about-bio-text-color);
    text-align: left; /* Left-align for readability */
    max-width: 800px;
    margin: 0 auto;
    padding: var(--padding-medium);
}

.bio_item {
    line-height: var(--bio-item-line-height);
    margin-bottom: var(--bio-item-margin-bottom);
    color: var(--about-bio-text-color);
}

.profile {
    background-color: var(--profile-bg-color);
}

#gh-desc {
    font-size: var(--text-medium);
    font-family: var(--font-primary);
    line-height: var(--margin-medium);
    border: 0;
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

.profile-cards {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin: var(--margin-medium) 0;
    padding: var(--padding-medium);
}

.github_card {
    width: 100%;
    margin: 0;
    padding: var(--padding-medium);
}

.profile-card {
    font-family: var(--font-primary);
    border-radius: 6px;
    line-height: 1.5;
    padding: var(--profile-card-padding);
    font-size: var(--text-medium);
    color: var(--profile-card-text-color);
    background-color: var(--profile-card-bg-color);
}

.profile-header {
    display: flex;
    align-items: center;
    margin-top: -4px;
    font-size: var(--text-giant);
    color: var(--profile-header-text-color);
    font-family: var(--font-secondary);
    text-align: center;
    margin-bottom: var(--margin-medium);
}

.profile-avatar {
    width: var(--profile-avatar-size);
    height: var(--profile-avatar-size);
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-left: var(--profile-info-margin-left);
}

.profile-name {
    font-weight: var(--text-weight);
    color: var(--profile-text-color);
    font-size: var(--text-large);
}

.profile-link {
    text-decoration: none;
    color: inherit;
}

.profile-username {
    font-weight: var(--text-weight);
    color: var(--profile-text-color);
    font-size: var(--text-small);
}

.profile-stats {
    margin-top: var(--profile-stat-margin-top);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-stat {
    display: flex;
    flex-direction: column;
}

.profile-stat-title {
    font-size: var(--profile-stat-title-size);
    font-weight: var(--text-weight);
    color: var(--profile-text-color);
}

.profile-stat-value {
    font-weight: var(--text-weight);
    color: var(--profile-text-color);
    font-size: var(--profile-stat-value-size);
    line-height: 1;
}