.about-section {
    background: linear-gradient(to right, var(--bg-color-primary), var(--bg-color-secondary));
    padding: var(--padding-xlarge);
    width: 100%;
    max-width: 1200px; /* Limits the width for readability */
    margin: 0 auto; /* Centers the section */
}

.about-header {
    width: 100%;
    font-size: var(--header-size);
    font-family: var(--font-secondary);
    text-align: left;
    margin-bottom: var(--margin-small);
    color: var(--header-text-color);
    font-weight: var(--header-weight);
}

.about-bio {
    font-size: var(--text-medium);
    font-family: var(--font-primary);
    line-height: var(--line-height-medium);
    color: var(--text-color);
    text-align: justify;
    max-width: 800px;
    margin-bottom: var(--margin-large);
}

.bio-item {
    line-height: var(--bio-item-line-height);
    margin-bottom: var(--bio-item-margin-bottom);
    color: var(--text-color);
}

/* Profile Section Styles */
.profile-section {
    background-color: var(--bg-color-primary);
}

#gh-desc {
    font-size: var(--text-medium);
    font-family: var(--font-primary);
    line-height: var(--margin-medium);
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}

.profile-cards-wrapper {
    text-align: center; /* Center the GitHub card */
    width: 100%;
}

.profile-cards {
    display: inline-flex; /* Change to inline-flex to keep the card centered */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    justify-content: left; /* Center within the wrapper */
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.github-card {
    width: auto;
    margin: 0 auto;
    padding: var(--padding-medium);
}

.profile-card {
    font-family: var(--font-primary);
    border-radius: var(--border-radius);
    line-height: var(--line-height-medium);
    padding: var(--padding-medium);
    font-size: var(--text-medium);
    color: var(--text-color);
    background-color: var(--bg-color-primary);
}

.profile-header {
    display: flex;
    align-items: center;
    font-size: var(--text-giant);
    color: var(--header-text-color);
    font-family: var(--font-secondary);
    text-align: center;
    margin-bottom: var(--margin-medium);
}

.profile-avatar {
    width: var(--profile-avatar-size);
    height: var(--profile-avatar-size);
    border-radius: 50%;
    padding: var(--padding-small);
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-left: var(--margin-medium);
}

.profile-name {
    font-weight: var(--text-weight);
    color: var(--text-color);
    font-size: var(--text-large);
}

.profile-link {
    text-decoration: none;
    color: inherit;
}

.profile-username {
    font-weight: var(--text-weight);
    color: var(--text-color);
    font-size: var(--text-small);
}

.profile-stats {
    margin-top: var(--margin-medium);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-stat-title {
    font-size: var(--text-small);
    font-weight: var(--text-weight);
    color: var(--text-color);
}

.profile-stat-value {
    font-weight: var(--text-weight);
    color: var(--text-color);
    font-size: var(--text-extra-large);
    line-height: 1;
}