.certifications-header {
    font-size: var(--text-extra-large);
    font-weight: var(--header-weight);
    color: var(--header-text-color);
    text-align: center;
    background-color: var(--header-bg-color);
    border-radius: var(--border-radius);
    padding: var(--margin-small);
    padding-left: var(--margin-medium);
    padding-right: var(--margin-medium);
}

.category_item {
    background-color: var(--bg-color-primary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light);
    transition: background 0.3s ease;
    cursor: pointer;
}

.cert_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    width: 100%;
}

.cert_item {
    background-color: var(--bg-color-primary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light);
    border: var(--border-medium);
    padding: var(--padding-medium);
    display: flex;
    align-items: flex-start;
}

.cert_image {
    height: auto;
    width: 100%;
    margin-bottom: var(--margin-small);
    object-fit: cover;
}

.cert_sublist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: var(--padding-medium);
    padding: var(--padding-medium);
    background: var(--bg-color-secondary);
    border-radius: var(--border-radius);
    list-style: none;
    margin: var(--margin-medium) 0;
    box-sizing: border-box;
    transition: max-height 0.3s ease;
    overflow: hidden;
}

.cert_name {
    font-size: var(--text-medium);
    margin-bottom: var(--margin-small);
    font-weight: var(--header-weight);
    text-align: center;
}

@media (max-width: 768px) {
    .cert_sublist .cert_item {
        width: calc(50% - var(--margin-small));
    }

    .cert_name {
        font-size: var(--text-small);
    }
}
