.row {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.about-desc h1 {
	font-size: var(--text-giant);
	color: /*make a var*/;
	font-weight: bold;
}
#contact_info {
	font-size: var(--text-medium);
	color: rgba(0, 0, 0, 0.7);
	line-height: 1.6;
	max-width: 800px;
	margin: 0 auto;
	padding: var(--padding-medium);
}