.row {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}



#contact-desc {
    font-size: var(--text-large);
    color: var(--about-desc-h1-color); /* Updated to use the new variable */
    font-weight: bold;
	background-color: var(--tertiary-bg-color);
}

#contact_info {
    font-size: var(--text-medium);
    color: var(--contact-info-color); /* Updated to use the new variable */
    line-height: var(--contact-info-line-height); /* Updated to use the new variable */
    max-width: var(--contact-info-max-width); /* Updated to use the new variable */
    margin: var(--contact-info-margin); /* Updated to use the new variable */
    padding: var(--padding-medium);
}
