

.education_article {
    background-color: var(--education-article-bg-color); /* Updated to use the new variable */
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.education_article:hover {
    transform: scale(1.02);
}
.education-header {
    font-size: var(--text-extra-large);
    font-weight: bold;
    color: var(--header-text-color); /* Updated color */
    text-align: center; /* Center the heading */
    background-color: var(--header-bg-color);
    border-radius: 8px;
    padding: var(--margin-small);
    padding-left: var(--margin-medium);
    padding-right: var(--margin-medium);
}

.edu_logo {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    box-shadow: 0 0 0 3px var(--shadow-color); /* Updated to use the new variable */
    border-radius: 15%;
}

/* Education Label Styling */
.education_label {
    width: 100%;
    text-align: left;
}

.education_duration {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--education-duration-color); /* Updated to use the new variable */
}

.education_detail {
    margin-bottom: 10px;
    font-size: 1em;
    color: var(--education-detail-color); /* Updated to use the existing variable */
    line-height: 1.6;
}

/* Education Tags Styling */
.education_tag {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.875em;
    font-weight: bold;
    color: #fff;
    background-color: var(--tag-bg-color); /* Updated to use the new variable */
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}


/* Links Styling */
.education_label a {
    display: inline-block;
    margin-top: 10px;
    color: var(--education-link-color); /* Updated to use the existing variable */
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid var(--education-border-color); /* Updated to use the new variable */
    border-radius: 4px;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.education_label a:hover {
    color: #fff;
    background-color: var(--hover-bg-color); /* Updated to use the new variable */
    border-color: var(--education-link-hover-border-color); /* Updated to use the new variable */
}

.education_label a::after {
    content: " ↗";
    font-size: 0.8em;
    vertical-align: middle;
    margin-left: 2px;
    transition: transform 0.3s;
}

.education_label a:hover::after {
    transform: translateX(2px);
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .edu_logo {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .education_label {
        text-align: center;
    }
}



/* Animation */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.education_article {
    animation: slideIn 0.5s ease;
    border-left: 5px solid var(--education-article-border-left-color); /* Updated to use the new variable */
}

