

.skills_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0px;
    width: 100%;
}

.skills_list .link {
    background-color: var(--dark);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: var(--border-medium);
    padding: var(--padding-medium);
    margin: var(--margin-medium);
    transition: background 0.3s ease; /* Added transition for background change on hover */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; /* Indicate clickable items */
}

.skills_list .link:hover {
    background-color: var(--dark-hover); /* Changed to use a darker background on hover */
    box-shadow: 0 4px 8px var(--shadow-color); /* Enhanced shadow on hover */
    transform: translateY(-5px); /* Added subtle depth on hover */
}

.skills_list .skill_item {
    background-color: var(--dark);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    border: var(--border-medium);
    padding: var(--padding-medium);
    margin: var(--margin-medium);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
}



.skill_logo {
    width: 50px;
    height: auto;
    margin-bottom: var(--margin-small);
    object-fit: cover; /* Ensures images are equally sized and spaced */
}

.skill_sublist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: var(--padding-medium);
    padding: var(--padding-medium);
    background: var(--lighter);
    border-radius: var(--border-radius);
    list-style: none;
    margin: var(--margin-medium) 0;
    box-sizing: border-box;
    transition: max-height 0.3s ease; /* Added transition for height change */
    overflow: hidden; /* Ensures a clean transition */
}

.skill_name {
    margin-bottom: var(--margin-small);
    color: var(--dark);
    background-color: var(--lighter);
    padding-left: var(--padding-medium);
    padding-right: var(--padding-medium);
    padding-top: var(--padding-medium);
    padding-bottom: var(--padding-medium);
    border-radius: var(--border-radius);
}
.skill_description {
    
}

@media (max-width: 768px) {
    .link p {
        font-size: var(--text-small);
    }

    .skill_sublist .skill_item {
        width: calc(50% - var(--margin-small));
    }

    .skill_sublist .skill_item .skill_name {
        font-size: var(--text-small);
    }
}
