.skills-header {
    font-size: var(--text-extra-large);
    font-weight: var(--header-weight);
    color: var(--header-text-color);
    text-align: center;
    background-color: var(--bg-color-tertiary);
    border-radius: var(--border-radius);
    padding: var(--padding-medium);
    margin-bottom: var(--margin-large);
}

.skills_list {
    display: none; /* Initially hidden */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid for skills */
    gap: var(--padding-large); /* Space between items */
    padding: var(--padding-large);
    background-color: var(--bg-color-secondary);
    border-radius: var(--border-radius);
}

.skill_item {
    background-color: var(--light-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light);
    padding: var(--padding-medium);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.skill_item:hover {
    transform: translateY(-5px);
    box-shadow: var(--box-shadow-hover);
}

.skill_logo {
    width: 100%;
    height: auto;
    margin-bottom: var(--margin-small);
    object-fit: cover;
    border-radius: var(--border-radius);
}

.skill_name {
    color: var(--text-color);
    font-size: var(--text-medium);
    font-weight: var(--header-weight);
    margin-top: var(--margin-small);
}

.skill_description {
    font-size: var(--text-small);
    color: var(--text-secondary-color);
    margin-top: var(--margin-small);
}

@media (max-width: 768px) {
    .skills_list {
        grid-template-columns: 1fr 1fr; /* Two columns on small screens */
    }

    .skill_item {
        width: 100%;
    }
}

/* Toggle Display on Click */
.skills-header:hover + .skills_list {
    display: grid; /* Display the grid when header is clicked */
}
