/* Center the controls */
.carousel-controls {
    text-align: center;
    margin-top: 20px;
}

.testimonials-header{
    font-size: var(--text-extra-large);
    font-weight: bold;
    color: var(--header-text-color); /* Updated color */
    text-align: center; /* Center the heading */
    background-color: var(--header-bg-color);
    border-radius: 8px;
    padding: var(--margin-small);
    padding-left: var(--margin-medium);
    padding-right: var(--margin-medium);
}
.carousel-controls .btn {
    background: var(--carousel-btn);
    color: var(--btn-color);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.carousel-controls .btn:hover {
    background: var(--carousel-btn-hover);
}

/* Carousel Inner Styling */
.carousel-inner {
    border-radius: var(--carousel-inner-border-radius);
    box-shadow: var(--carousel-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--carousel-inner-padding);
    background-color: var(--carousel-inner);
}



.carousel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: var(--carousel-item);
    border-radius: 10px;
    /* box-shadow: var(--carousel-shadow); */
    max-width: 700px;
    min-width: 300px;
    text-align: center; /* Center align text */
}

.carousel-content h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--carousel-text-color);
}

.carousel-content p {
    font-size: 1em;
    color: var(--carousel-text-color);
}

/* Indicators for the carousel */
.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.carousel-indicators .indicator {
    width: 10px;
    height: 10px;
    background: var(--carousel-indicator);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicators .indicator.active {
    background: var(--carousel-indicator-active);
}


/* Carousel Item Styling */
.carousel-item {
    flex: 0 0 100%;
    display: none; /* Hide by default */
    transition: opacity 0.5s ease-in-out; /* Smooth opacity transition */
}




.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex; /* Ensure items are displayed */
    opacity: 0; /* Start with 0 opacity */
}

/* Immediate display for next and previous items */
.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right,
.carousel-item.active {
    opacity: 1; /* Fully opaque when active */
    display: flex; /* Show active item */
}
