

.experience_article {
    background-color: var(--experience-article-bg-color); /* Updated to use the new variable */
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
        border-left: 5px solid var(--experience-article-border-left-color); /* Updated to use the new variable */

}

.experience_article:hover {
    transform: scale(1.02);
}

/* Header Styling */
.timeline_sublabel {
    display: flex;
    align-items: center;
    justify-content: space_between;
    margin-bottom: 20px;
    font-size: 1.75em;
    font-weight: bold;
    color: var(--text-primary-color);
    flex: 1;
}

.work_logo {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    box-shadow: 0 0 0 3px #fff;
    border-radius: 15%;
}

/* Experience Label Styling */
.experience_label {
    width: 100%;
    text-align: left;
}

.experience_duration {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--experience-duration-color); /* Updated to use the new variable */
}

.experience_detail {
    margin-bottom: 10px;
    font-size: 1em;
    color: var(--experience-detail-color); /* Updated to use the existing variable */
    line-height: 1.6;
}

/* Experience Tags Styling */
.experience_tag {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.875em;
    font-weight: bold;
    color: #fff;
    background-color: var(--tag-bg-color); /* Updated to use the new variable */
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}


/* Links Styling */
.experience_label a {
    display: inline-block;
    margin-top: 10px;
    color: var(--link-text-color); /* Updated to use the new variable */
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid var(--link-border-color); /* Updated to use the new variable */
    border-radius: 4px;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.experience_label a:hover {
    color: #fff;
    background-color: var(--link-hover-bg-color); /* Updated to use the new variable */
    border-color: var(--link-hover-border-color); /* Updated to use the new variable */
}

.experience_label a::after {
    content: " ↗";
    font-size: 0.8em;
    vertical-align: middle;
    margin-left: 2px;
    transition: transform 0.3s;
}

.experience_label a:hover::after {
    transform: translateX(2px);
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .work-logo {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .experience_label {
        text-align: center;
    }
}


/* Animation */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.experience_article {
    animation: slideIn 0.5s ease;
    border-left: 5px solid var(--experience-article-border-left-color); /* Updated to use the new variable */
}




.category-item {
    margin-bottom: var(--category-item-margin-bottom); /* Updated to use the new variable */
}

.link {
    cursor: var(--link-cursor); /* Updated to use the new variable */
    font-weight: var(--link-font-weight); /* Updated to use the new variable  */
}